.pypirc_test
.pypirc
pyproject.toml
setup.cfg

Docker_pypitest/
Docker_pypi/
Dockerhub/
Dockerhub_notebook/
data/

bevpo_results/
.ipynb_checkpoints/
1.1.RandD.ipynb

src/bevpo/__pycache__/
src/bevpo/datasets/__pycache__/
src/__pycache__/



